<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forest Fire Dashboard</title>

    <!-- Import the Plotly library. Note that this has to 
         happen before we importa any code that uses Plotly. -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Import the D3 library. Note that this has to happen 
    before we import any code that uses D3. -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Import some CSS, just to show how it's done. -->
    <link rel="stylesheet" type="text/css" href="static/style.css"></link>
    <link rel="shortcut icon" href="">
</head>

<body>
    <h1>This is index.html</h1>

    <!-- Placeholder for a plot -->
    <div id="plot"></div>
    

    <!-- Import the main JavaScript code. -->
    <script type="text/javascript" src="static/main.js"></script>

</body>

</html>